@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$backgrd-color: #faebd7;
$lt-blue: #6495ed;
$shadow: 4px 4px 4px #ccc;

@mixin image($max-width: 100%) {
    max-width: $max-width;
    margin: 0 auto;
    min-width: 100px;
    height: auto;
    vertical-align: middle;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: $backgrd-color;
    margin: 0;
    > div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (min-width: 700px) {
body > div {
    flex-direction: row;
}

header {
    flex: 0 0 190px;
}

img {
    @include image();
}
}

img {
    @include image(80%);
}

header {
    background-color: $lt-blue;
    text-align: right;
    padding: 2rem;
}

h2 {
    margin-bottom: 3rem;
}

h1, h2 {
    font-family: 'Lora', serif;
}

a {
    text-decoration: none;
}

header a, header a:visited {
    color: $backgrd-color;
}

h2 a, h2 a:visited {
    color: black;
}

p a, p a:visited {
    color: $lt-blue;
}

a:hover {
    text-decoration: underline;
}

header nav a:hover {
    color: white;
}

h2 a:hover {
    color: $lt-blue;
}

h2 a:active, header a:active, p a:active, header nav a:active {
    color: #deb887;
}


hr {
    text-align: right;
    margin-right: 0;
}

ul {
    color: $backgrd-color;
    list-style: none;
    margin: 1rem 0 0;
}

main {
    background-color: $backgrd-color;
}

li {
    line-height: 2rem;
}

article {
    margin: 2.5rem auto;
    background-color: white;
    width: 70%;
    max-width: 650px;
    box-shadow: $shadow;
    padding: 2rem;
}

figure {
    display: flex;
}

